@page
@model okb3_archive.Pages.DocumentTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Типы документов</h1>


@if(Model.IsDocumentTypeMaintainer){
    <p>
        <a asp-page="Create">Новый тип</a>
    </p>
}

<p class="text-danger">@TempData["Error"]</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if(Model.IsDocumentTypeMaintainer)
                {
                    <span>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                    </span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
